{{define "title"}}Home{{end}} {{define "body"}}
<div class="grid">
  <div class="cell">
    <a class="card" href="/steam/users">
      <div class="card-image">
        <figure class="image is-2by1">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Steam_Logo.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=original"
            alt="steam icon"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 has-text-centered">Steam Users</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="cell">
    <a class="card" href="/discord/users">
      <div class="card-image">
        <figure class="image is-2by1">
          <img
            src="https://upload.wikimedia.org/wikipedia/fr/8/80/Logo_Discord_2015.png?_=20210527163045"
            alt="discord icon"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 has-text-centered">Discord Users</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
{{end}}
